sentencepiece
transformers
sentence-transformers
pytorch-metric-learning
torch-scatter==2.0.9+cu113
torch-sparse==0.6.13+cu113
torch-cluster==1.6.0+cu113
torch-geometric
git+git://github.com/Andoree/graphmel.git
